{% extends "base.html" %}

{% block title %}About - The Leech Database (Ldb){% endblock %}

{% block content %}
  <h1 class="w3-xxlarge w3-text-black">About The Leech Database</h1>
  <p>
      The Leech Database (Ldb) is an online resource dedicated to providing experimentally verified information about proteins found in various species of leech. 
  </p>
  <p>
      Ldb is a manually curated repository of experimentally validated leech proteins that will aid researchers working in this area of interest to understand the various proteins found across multiple species of leeches from around the world.
  </p>
  <p>
      Keeping in mind the import of their therapeutic value, we have tried to catalogue all the available updated information on these proteins from reviewed and manually annotated sources.
  </p>
  <p>
      Ldb provides all the experimentally validated information about leech proteins sorted by species, gene, protein name, mass, mutagenesis, post-translational modification, and amino acid sequence.
  </p>
  <p>
      The aim of Ldb is to act as a resource for leech proteins, and we strongly believe that the database will be a useful tool for bioscience researchers, clinicians, microbiologists, students, and healthcare professionals.
  </p>
{% endblock %}
