{% extends "base.html" %}

{% block title %}Meet the Developers - Leech Database{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Meet the Developers</h2>
    <p>This project was developed by a dedicated team of researchers and engineers. Get to know the people behind the Leech Database:</p>

    <div class="row">
        <div class="col-md-4">
		<img src="{{ url_for('static', filename='images/Aarthi.jpg') }}"  alt="Aarthi R S" style="width:220px;height:220px;" class="img-fluid rounded">

            <h4>Aarthi R S</h4>
            <p>Lead Developer; Research Scholar</p>
            
        </div>
        <div class="col-md-4">
		<img src="{{ url_for('static', filename='images/Anbarasu.jpg') }}"  alt="Dr. Anbarasu K." style="width:220px;height:220px;" class="img-fluid rounded">
            <h4>Dr. Anbarasu K.</h4>
            <p>Principal Investigator; Associate Professor</p>
            <a href="mailto:anbarasuk.sse@saveetha.com">Contact</a>
        </div>
        <div class="col-md-4">
		<img src="{{ url_for('static', filename='images/Raghavi.jpg') }}" alt="Raghavi Suresh" style="width:220px;height:220px;" class="img-fluid rounded">
            <h4>Raghavi Suresh</h4>
            <p>Molecular Biologist; Research Scholar</p>
          
        </div>
    </div>
</div>
{% endblock %}
