{% extends "base.html" %}

{% block title %}Home - Leech Database{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome to the Leech Database</h2>
     
    <p>
        The Leech Database (Ldb) is an online resource dedicated to providing experimentally verified information 
        about proteins found in various species of leech.
    </p>
    <p>
        Ready to explore? You can <a href="/browse">browse proteins by species or protein</a> or 
        <a href="/search">perform a search</a> for specific terms.
    </p>
    <p>
        Learn more about the project on the <a href="/about">About page</a> or meet our <a href="/developers">team of developers</a>.
    </p>
    
    <!-- Search form REMOVED-->
    
</div>

{% endblock %}
