{% extends "base.html" %}

{% block title %}Publications - Leech Database{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Publications</h2>
    <p>Here are the key publications and research papers related to the leech protein studies.</p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Year</th>
                <th>DOI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Anti-Cancer Activity of Liposomal Medical Leech Saliva Extract (LSE) </td>
                <td> A. Shakouri, N. Adljouy, J. Abdolalizadeh </td>
                <td> 2018 </td>
                <td><a href="https://avestia.com/RAN2018_Proceedings/files/paper/NDDTE/NDDTE_102.pdf" target="_blank">10.11159/nddte18.102</a></td>
            </tr>
            <tr>
                <td>Clinical Significance of Leech Therapy in Indian Medicine</td>
                <td>S. Kumar, G. J. Dobos, T. Rampp</td>
                <td>2012</td>
                <td><a href="https://journals.sagepub.com/doi/full/10.1177/2156587212466675" target="_blank">10.1177/215658721246667</a></td>
            </tr>
            <tr>
                <td>European Medicinal Leeches—New Roles in Modern Medicine</td>
                <td>S. Lemke, A. Vilcinskas </td>
                <td>2020</td>
                <td><a href="https://doi.org/10.3390/biomedicines8050099" target="_blank">10.3390/biomedicines8050099</a></td>
            </tr>
            <tr>
                <td>Some Biological Activities of Malaysian Leech Saliva Extract</td>
                <td>A. M. Abdualkader, A. Merzouk </td>
                <td>2011</td>
                <td><a href="https://doi.org/10.31436/iiumej.v12i4.156" target="_blank">10.31436/iiumej.v12i4.156</a></td>
            </tr>
            <tr>
                <td>Leech extract: A candidate cardioprotective against hypertension-induced cardiac hypertrophy and fibrosis</td>
                <td>C. Wang, S. Pandey </td>
                <td>2021</td>
                <td><a href="https://doi.org/10.1016/j.jep.2020.113346" target="_blank">10.1016/j.jep.2020.113346</a></td>
            </tr>
<tr>
                <td>Isolation and Characterization of Antithrombin Peptides from the Saliva of Malaysian Leeches</td>
                <td>M. Alaama, ABMH Uddin</td>
                <td>2014</td>
                <td><a href="https://doi.org/10.4314/tjpr.v13i4.10" target="_blank">10.4314/tjpr.v13i4.10</a></td>
            </tr>
<tr>
                <td>In-depth profiles of bioactive large molecules in saliva secretions of leeches determined by combining salivary gland proteome and transcriptome data</td>
                <td>Z. Liu, X. Tong</td>
                <td>2019</td>
                <td><a href="https://doi.org/10.1016/j.jprot.2019.03.009" target="_blank">10.1016/j.jprot.2019.03.009</a></td>
            </tr>

<tr>
                <td>In vivo anti-hyperglycemic activity of saliva extract from the tropical leech <i>Hirudinaria manillensis</i></td>
                <td>A. A. Mohammed, G. A. Mohammad</td>
                <td>2013</td>
                <td><a href="https://doi.org/10.1016/S1875-5364(13)60089-8" target="_blank">10.1016/S1875-5364(13)60089-8</a></td>
            </tr>

<tr>
                <td>Effectiveness of Leech Therapy in Osteoarthritis of the Knee: A Randomized, Controlled Trial</td>
                <td>A. Michalsen, S. Klotz</td>
                <td>2003</td>
                <td><a href="https://doi.org/10.7326/0003-4819-139-9-200311040-00006" target="_blank">10.7326/0003-4819-139-9-200311040-00006</a></td>
            </tr>

<tr>
                <td>Research progress in the use of leeches for medical purposes</td>
                <td>C. J. Ma, X. Li, H. Chen</td>
                <td>2020</td>
                <td><a href="https://doi.org/10.12032/TMR20200207159" target="_blank">10.12032/TMR20200207159</a></td>
            </tr>

<tr>
                <td>The Investigation of Effects of Medicinal Leech Saliva Extract on the Breast Fibroblast Cell Line <i>In Vitro</i>: An Experimental Study</td>
                <td>K. Ünal, N. Tirik</td>
                <td>2023</td>
                <td><a href="https://doi.org/10.5336/jtracom.2022-92875" target="_blank">10.5336/jtracom.2022-92875</a></td>
            </tr>

<tr>
                <td>Anticoagulants and inhibitors of platelet aggregation derived from leeches</td>
                <td>M. Salzet</td>
                <td>2001</td>
                <td><a href="https://doi.org/10.1016/S0014-5793(01)02212-8" target="_blank">10.1016/S0014-5793(01)02212-8</a></td>
            </tr>

<tr>
                <td>Development of Leech extract as a therapeutic agent: A chronological review</td>
                <td>M. Alaama, O. Kucuk</td>
                <td>2024</td>
                <td><a href="https://doi.org/10.1016/j.prmcm.2023.100355" target="_blank">10.1016/j.prmcm.2023.100355</a></td>
            </tr>

<tr>
                <td>A study on antioxidative and antimicrobial activities of saliva extract of Indonesian local leeches</td>
                <td>B. Malik, D. A. Astuti</td>
                <td>2019</td>
                <td><a href="https://doi.org/10.1088/1755-1315/251/1/012061" target="_blank">10.1088/1755-1315/251/1/012061</a></td>
            </tr>


<tr>
                <td>Evaluation of biochemical and antioxidant properties of crude extracts from the Indian cattle leech <i>Poecilobdella granulosa</i></td>
                <td>D. Padmanaban, R. G. Muthusamy</td>
                <td>2022</td>
                <td><a href="https://doi.org/10.56042/ijms.v51i08.40854" target="_blank">10.56042/ijms.v51i08.40854</a></td>
            </tr>


<tr>
                <td>Some Biological Activities of Malaysian Leech Saliva Extract</td>
                <td>A. M. Abdualkader, A. Merzouk</td>
                <td>2011</td>
                <td><a href="https://doi.org/10.31436/iiumej.v12i4.156" target="_blank">10.31436/iiumej.v12i4.156</a></td>
            </tr>


            <!-- Add more publications as needed -->
        </tbody>
    </table>

</div>
{% endblock %}
