{% extends "base.html" %}

{% block title %}Resources - Leech Database{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Resources</h2>
    <p>Here are some useful links and resources related to the study of leech proteins.</p>
    <ul>
        <li><a href="https://www.uniprot.org/" target="_blank">UniProt</a></li>
        <li><a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank">PubMed</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a></li>
        <!-- Add more resources as needed -->
    </ul>
</div>
{% endblock %}
